<div id="puntajes" class="panel panel-default" style="float:left; width: 250px;">
  <div class="black-heading ">
    <h3 class="panel-title">PUNTAJES</h3>
  </div>
  <div class="panel-body black">
  	<div class="row">
	  <div class="col-md-8">Resultado exacto:</div>
	  <div class="col-md-4">100pts</div>
 	</div>
 	<div class="row">
	  <div class="col-md-8">Diferencia de goles:</div>
	  <div class="col-md-4">75pts</div>
 	</div>
 	<div class="row">
	  <div class="col-md-8">Ganador:</div>
	  <div class="col-md-4">50pts</div>
 	</div>
  </div>
</div>
<div id="table">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="col-sm-2">Posicion</th>
				<th class="col-sm-7">Nombre</th>
				<th class="col-sm-3">Puntos</th>
			</tr>
		</thead>
		<tbody>
			<% position = 1 %>
			<% Player.find(:all, :order => "points DESC" ).each do |u| %>
				<tr>
					<td><%= position %></td>
					<td><%= u.name %></td>
					<td><%= u.points %></td>
					
				</tr>
				<% position += 1%>
			<% end %>
		</tbody>
	</table>
</div>

<div id="comments">


	<%= form_for(@comment , html: {class:"form-inline", role:"form"}) do |f| %>
	  <% if @comment.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

	      <ul>
	      <% @comment.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="form-group">
	    <%= f.text_field :user, class: 'form-control', placeholder: 'Nombre' %>
	  </div>
	  <div class="form-group">
	    <%= f.text_field :text, class: 'form-control', placeholder: 'Comentario' %>
	  </div>
	    <%= f.submit "Comentar", class: "btn btn-default"%>
	<% end %>
</div>
<div class="panel panel-default" style="float:left; width: 320px; position:relative; top: -50px;">
  <div class="panel-heading">
    <h3 class="panel-title">NEXT MATCHES</h3>
  </div>
  <div class="panel-body">
    <%= image_tag "match1.jpg" , height: '200', style: "float: left; opacity: 0.9;" %> 
  </div>
</div>
<div class="panel panel-default" style="float:right; width: 330px; position:relative; top: -50px;">
  <div class="panel-heading">
    <h3 class="panel-title">NEXT MATCHES</h3>
  </div>
  <div class="panel-body">
    <%= image_tag "match2.PNG" , height: '300', style: "float: right; opacity: 0.9;" %> 
  </div>
</div>
	
<div id="table-comments">

	
	<table class="table table-border">
		<tbody>
			<% Comment.find(:all, :order => "fecha DESC").each do |c| %>
				<tr>
					<td><%= c.user %></td>
					<td><%= c.text %></td>
					<td><%= distance_of_time_in_words(c.fecha, Time.now) %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<div id="result"></div>