<div id="pronos">
	<h1>PALILLO</h1>
	<%= image_tag "palillo.jpg"  %> 
	<h1>PAJARO</h1>
	<%= image_tag "espanta.jpg"  %> 
	<h1>CABEZON</h1>
	<%= image_tag "cabeza.jpg"  %> 
	<h1>PELA</h1>	
	<%= image_tag "pela.jpg"  %> 
	<h1>ALE</h1>	
	<%= image_tag "ale.jpg"  %> 
	<h1>SANTULO</h1>	
	<%= image_tag "santulo.jpg"  %> 
	<h1>WEYTON</h1>	
	<%= image_tag "weyton.jpg"  %> 
	<h1>FACHA</h1>	
	<%= image_tag "aga.jpg"  %> 
	
	<h1>FEDE</h1>	
	<%= image_tag "fede.jpg"  %> 
	
	
	<h1>POU</h1>	
	<%= image_tag "pou.jpg"  %> 
</div>
