
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Penca</title>
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= favicon_link_tag 'icon.ico' %>

	<link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="navigation-bar">
        <nav class="navbar navbar-custom" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="primera"><%= link_to "HOME", root_path %></li>
                <li><%= link_to "PRONOSTICOS DE CADA UNO", pronos_path%></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
       </div>
	
	<%= yield %>

<div id="footer">
  <p>Developed by <%= image_tag "JETLABS.png" , height: '30' %> </p>
  
</div>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<script>
  $.backstretch([
      "<%= asset_path 'bg1.jpg' %>"
      ,  "<%= asset_path 'bg2.jpg' %>"
      ,  "<%= asset_path 'bg33.jpg' %>"
    ], {duration: 7000, fade: 750});

</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-51092517-3', 'pencauy.herokuapp.com');
  ga('send', 'pageview');

</script>
<div id="audio"><audio autoplay="true" src="vida.mp3" loop="loop"></div>

</body>

</html>